.login-form .login-form-forgot {
    float: right;
    margin-left: 5%;
}

.login-form .ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form .login-form-button {
    width: 100%;
}

@media (max-width: 480px) {
    .cardForm {
        width: 280px !important;
        background-color: blue !important;
    }
}

/* @media (max-width: 810px) {
    .cardForm {
        width: 330px !important;
    }
} */

@media (min-width: 810px) {
    .cardForm {
        width: 500px !important;
    }
}